<div class="container-fluid p-4">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sector 1</h5>
                    <p class="card-text">
                    <div id="chart1"></div>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Sector 2 </h5>
                    <p class="card-text">
                    <div id="chart2"></div>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sector 3</h5>
                    <p class="card-text">
                    <div id="chart3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Por Sexo</h5>
                    <p class="card-text">
                    <div id="pieChart1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total grupo por Sexo</h5>
                    <p class="card-text">
                    <div id="barChartGroup1"></div>
                </div>
            </div>
        </div>
    </div>
